<div class="content">
    <h4>Instalacción</h4>
    <p>Para instalar Angular necesitamos tener instalado también Node.js y npm(gestor de paquetes de Node). Para instalar node nos dirigimos a su sitio web oficial, allí buscaremos la última versión o la que el proyecto requiera. <a href="https://nodejs.org/es" target="_blank">Node.js</a></p>
    <p>Para Angular v18 o v19, tenemos como prerequisito node.js v^18.19.1 o la más nueva. Si necesitas otra versión puedes ver los prerequisitos en la documentación de Angular.</p>
    <p>Cuando ya tengamos instalado Node.js y npm, abrimos el terminal y podemos instalar Angular CLI con el comando <code class="code">npm install -g @angular/cli</code></p>
    <h4>Crear un proyecto</h4>
    <p>Para crear un proyecto de Angular usamos el comando <code class="code">ng new nombre-del-proyecto</code></p>
    <iframe width="760" height="415" src="https://www.youtube.com/embed/VxwLEFg1_0o?si=Ctl9OOQBoJPeFYS2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>