<div class="content">
    <h1>Estilos gráficos UI</h1>
    <div class="content-main">
        <p>En esta sección vamos a aprender sobre los estilos gráficos de la interfaz de usuario. Para garantizar una presentación óptima, se aplican técnicas de maquetación responsive, adaptando los elementos a diversos tamaños de pantalla.</p>
        <ul class="steps">
            <li class="step" *ngFor="let topic of topics" (click)="selectTopic(topic)">
                {{ topic.value }}
            </li>
        </ul>
        <div class="content__topics">
            <div class="topic" *ngFor="let topic of topics">
              <h2 [id]="getTopicId(topic)">{{ topic.value }}</h2>
              <p>{{ topic.description }}</p>
              <div *ngIf="topic.id == 0">
                <ul>
                    <li>
                        <h4>Bootstrap</h4>
                        <p>Bootstrap es una biblioteca de herramientas de código abierto para desarrollar interfaces de usuario basadas en HTML y CSS.</p>
                        <h1>VIDEO</h1>
                    </li>
                    <li>
                        <h4>Material Design</h4>
                        <p>Material Design es una biblioteca de herramientas de código abierto para desarrollar interfaces de usuario basadas en HTML y CSS.</p>
                        <h1>VIDEO</h1>
                    </li>
                </ul>
              </div>
              <div *ngIf="topic.id == 1">
                <p>Algunos de los ejemplos de propiedades CSS para diseño responsive son:</p>
                <ul>
                    <li>width - height</li>
                    <li>max-width - min-width</li>
                    <li>max-height - min-height</li>
                    <li>rem - em</li>
                    <li>viewport units</li>
                    <li>flexbox - grid</li>
                    <li>media queries</li>
                    <li>object-fit - object-position</li>
                </ul>
                <p>Aquí te explico como hacer uso de estas propiedades:</p>
                <h1>VIDEO</h1>
              </div>
            </div>
        </div>
    </div>
</div>