.content{
    .steps{
        width: 90%;
    }
    .step{
        cursor: pointer;
    }
    .step:hover{
        color: var(--terciary-color);
        font-weight: bold;
    }
}
.content__topics{
    display: flex;
    align-items: center;
    flex-direction: column;
    .topic{
        width: 100%;
        @media screen and (max-width: 920px) {
            width: 90%;
        }
    }
    @media screen and (max-width: 920px) {
        gap: 50px;
    }
    .link{
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        @media screen and (max-width: 920px) {
            width: 100%;
        }
    }
    .video{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
        display: flex;
        justify-content: center;
        .img{
            width: 70%;
        }
    }
}