.container-headbar{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--primary-color);
    padding: 5px;
    color: white;
    font-family: 'Kanit', sans-serif;
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
    .container-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1rem;
        .logo{
            background-image: url('../../../assets/images/ruta.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }
    .container-options{
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .mdc-text-field--filled{
        --mdc-filled-text-field-active-indicator-height: 1px;
    }
    /* .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: yellow;
    } */
}