<div>
    <p>Para empezar a trabajar con GIT primero debemos registrarnos en <a href="https://github.com/login" target="_blank">GitHub</a></p>
    <p>Luego de haber completado el registro debemos descargar <a href="https://git-scm.com" target="_blank">git</a> en nuestro equipo.</p>
    <p>Cuando ya tengamos instalado git, lo debemos configurar con el correo que tenemos registrado en GitHub, vamos a buscar GitBash en nuestro equipo y hacemos uso de los siguientes comandos:</p>
    <h4>git config --global user.name "nombre de usuario"</h4> 
    <h4>git config --global user.email "correo registrado"</h4>
    <p>Estos comandos nos permiten configurar el correo y el nombre de usuario que usaremos en el proyecto, podemos verificar que todo haya quedado bien usando el siguiente comando:</p>
    <h4>git config --list</h4>
    <p>Al final de la pantalla nos deberá indicar el correo y el nombre de usuario configurados. Debe verse algo asi:</p>
    <div class="images">
        <img class="config" src="../../../assets/images/trainee/config-list.png" alt="">
    </div>
    <div class="video">
        <h3>¿Como crear un repositorio?</h3>
        <p>En este corto video te muestro lo fácil que es crear un repositorio en GitHub:</p>
        <iframe width="760" height="415" src="https://www.youtube.com/embed/ZNkUk2Jf3-Y?si=6V0t_EikWdwSItli" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <p>Como puedes ver no toma ni un minuto, lo siguiente que debemos hacer es configurar nuestro proyecto, para que se conecte con el repositorio que acabamos de crear. Podemos decidir si será público o privado o también si queremos el archivo .gitignore, el cual es un archivo que nos permite indicar que archivos no queremos que se suban a nuestro repositorio, por ejemplo, archivos con información sensible.</p>
    <h3>Conectar el proyecto con el repositorio</h3>
    <p>Te muestro en este corto video como conectamos un proyecto existente en tu equipo a un repositorio:</p>
    <p>VIDEO</p>
</div>