<app-headbar></app-headbar>
<div class="container">
    <div class="container__title">
        <p>¡Hola!</p>
    </div>
    <div class="container__content">
        <p>Este espacio está diseñado para centralizar y compartir conocimientos sobre temas clave de frontend, siguiendo la ruta de aprendizaje de Pragma. Mi objetivo es ayudarte a cerrar brechas y avanzar en tu desarrollo profesional con recursos prácticos y accesibles.</p>
        <p>Aqui encontraras contenido teorico y practico sobre temas clave de frontend, como tutoriales, ejercicios y ejemplos.</p>
        <p>También puedes ayudarme a generar valor, aportando tu conocimiento y experiencia para mejorar el aprendizaje de otros.</p>
    </div>
    <div class="container__contact">
        <div class="card">
            <p>Puedes contactarme en: </p>
            <p>mariana.ortiz@pragma.com.co</p>
        </div>

    </div>
</div>