.content{
    width: 100%;
    @media screen and (max-width: 920px) {
        width: 90%;
    }
}
.content-main{
    width: 90%;
}
.content__topics{
    @media screen and (max-width: 920px) {
        width: 100%;
    }
}