.content{
    width: 100%;
    padding-bottom: 20px;
}
.content-main{
    width: 90%;
}
.content__topics{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    .topic{
        width: 100%;
    }
    .link{
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }
    .video{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 80%;
        .img{
            width: 70%;
        }
    }
}