.dark-mode {
    --primary-color: #3B1E54;
    --secondary-color: #F7EFE5;
}
.light-mode{
    --primary-color: #F7EFE5;
    --secondary-color:#3B1E54;
}
:root {
    --primary-color: #3B1E54;
    --secondary-color: #F7EFE5;
    --terciary-color: #C8A1E0;
}
body{
    font-family: 'Kanit', sans-serif;
    /* animation-name: fadeIn;
    animation-duration: 4s; */
    a:hover{
        font-weight: bold;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
        @media screen and (max-width: 920px) {
            display: flex;
            align-items: center;
            width: 100%;
        }
        h1{
            color: var(--primary-color);
        }
        h4{
            color: var(--primary-color);
        }
        .steps{
            width: 90%;
        }
        .step{
            cursor: pointer;
            list-style: square;
        }
        .step:hover{
            color: var(--terciary-color);
            font-weight: bold;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-select{
    border-radius: 20px;
}
mat-option{
    border-radius: 20px;
}
mat-form-field {
    width: 200px;
    border-radius: 20px;
    height: 45px;
    background-color: #C8A1E0;
}
.mat-mdc-form-field-subscript-wrapper{
    height: 0px;
    border-radius: 20px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
      }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 60%;
}
.frame-video{
    @media screen and (max-width: 920px) {
        width: 90%;
        height: auto;
    }
}